* {
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 136, 90);
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}

article {
    background-color: white
    width: 436px;
    height: 196px;
}


img {
    height: 196px;
    width: 200px;
}



/* H= 24.5p = 394px ... W= 54.5p = 872px.....cn have max width 640 */
/* /2.... 197 ..............436 */ 
h3 {
    color: rgb(142, 167, 66);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration-line: none;

}

h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;

}




.article-title,
.cat-title {
    text-decoration-line: none;
}


.article-title {
    color: black
}
.article-title:hover {
    color: rgb(244, 136, 90);
    text-decoration: solid underline rgb(244, 136, 90);
}


.cat-title {
    color: rgb(142, 167, 66);
}
.cat-title:hover {
    color: rgb(88, 104, 41);
}


.author-date {
    font-weight: bold;
}

/* icons of bookmark, star, share */ 
svg {
    fill: transparent;
    height: 80px;
    stroke: rgb(244, 136, 90);
    stroke-width: 3px;
    transition: all 300ms ease;
    width: auto;
}

svg:hover,
svg:focus {
    fill: rgb(244, 136, 90);
    stroke: rgb(244, 136, 90);
}


