* {
    box-sizing: border-box;
}

body {
    background-color: hsl(18, 88, 65);
    color: black;
    font-family: 'Libre Baskerville', serif;
}



.icon {
    stroke: black;
}

h3 {
    color: hsl(111, 12, 65);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

h4 {
    color: black;
    font-family: 'Montserrat', sans-serif;

}
